[paths]
source =
   src/checklisting
   */site-packages/checklisting

[run]
branch = true
source =
    checklisting
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
